<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>24_lecture_UIButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F92D21F71EBB9ADB00489E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92D22101EBB9ADC00489E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F92D221B1EBB9ADC00489E64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
